//colors
$primary-color: #1A2026;
$secondary-color: #4DB2FF;
$minor-color: #202832;
$minor-color--2: #242E38;
$minor-color--3: #212A33;


$white-color: #ffffff;
$red-color: #e01b10;
$orange-color: #CA7F3A;

$text-secondary: #888E95;

//hover
$secondary-color--hover: #3179b1;